* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;


    --primary-fonts: "Raleway","sans-serif";
    --secondary-fonts: "Open Sans", "sans-serif";
}


body {
    width: 100vw;
    position: relative;
}

.container {
    max-width: 1352px;
    margin: 0 auto;
    position: relative;
    justify-content:center ;

}
.header_background {
    box-shadow: 0 3px 6px #00000029;
    opacity: 1;
}

.header_navigation-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.header_menu_box {
    display: flex;
    flex-direction: row;

}

.header_logo_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_logo_box a {
    font-family: var(--primary-fonts);
    font-weight: 300;
    font-size:32px;
    color: var(--primary-color);

    cursor: pointer;

}

.header_logo_box a:hover {
    color: var(--color-black);
}

.header_menu_box a {
    font-family: var(--secondary-fonts);
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    text-transform: uppercase;
    color: var(--color-grey);


    padding-top: 28px;
    padding-bottom: 27px;
    margin-left: 45px;
    margin-right: 45px;

}

.header_menu_box a:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--primary-color);
}






.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-box h1 {
    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-size: 49px;
    line-height: 57px;
    text-transform: capitalize;

    margin-top: 130px;
}

.text-box p {
    font-family: var(--secondary-fonts);
    color: var(--color-black);
    font-size: 16px;
    line-height: 22px;

    margin-top: 20px;

}

.text-box button {
    font-family: var(--secondary-fonts);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

    background-color: var(--primary-color);
    padding: 22px 157px 23px 157px;
    margin-top: 38px;
    box-shadow: 5px 10px 14px #07ACE629;
    border-radius: 40px;
    border-style: none;

    cursor: pointer;
}

.text-box button:hover {
    color: var(--primary-color);
    background-color: var(--color-white);
    border: 2px solid var(--primary-color);
}









.second_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 121px;
}

.second_section h2 {
    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-size: 36px;
    line-height: 42px;

    margin-top: 100px;
}



.second_section_boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top:100px;
}

.second_section_boxes div {
    width: 63px;
    height: 63px;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    margin-right: 92.5px;
    margin-left: 92.5px;
}


.box::before {
    content: "";
    width: 63px;
    height: 63px;
    border-radius: 50%;
    position:relative;
}

.second_section_first_box::before {
    background-color: var(--color-redish);
}

.second_section_second_box::before {
    background-color: var(--primary-color);
}

.second_section_third_box::before {
    background-color: var(--color-green);
}


.first_box_img img {
    translate: 30px -48px;
}

.second_box_img img {
    translate: 21px -40px;
}

.third_box_img img {
    translate: 33px -46px;
}


.second_section_boxes h3 {
    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 6px;

    margin-top: 13px;
}

.second_section_boxes p {
    font-family: var(--primary-fonts);
    color: var(--color-grey);
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    display: inline-block;
    width:130px;
    height: 48px;

    margin-top: 19px;
}







.third_section {
    display: flex;
    flex-direction: column;
    background-color: var(--color-light-grey);
}

.section_box {
    background-color: var(--color-white);
    height: 370px;
    width:1124px;
    display: flex;
    flex-direction: row;
}

.section_box h2 {

    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-size: 36px;
    line-height: 42px;
}

.section_box p {
    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-size: 16px;
    line-height: 22px;

    margin-top: 30px;
    margin-bottom: 50px
}




.third_section_first_box {
    margin-top: 105px;
    margin-bottom: 37px;
    position:relative;

    display: flex;
    flex-direction: row;
}


.third_section_second_box {
    margin-bottom: 37px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}





.first_box_A {
    margin-top:91px;
    margin-left: 36px;

}



.first_box_A p {
    font-family: var(--primary-fonts);
    color: var(--color-black);
    font-size: 16px;
    line-height: 22px;
    width: 416px;

    margin-top: 30px;
    margin-bottom: 50px;
}

.first_box_A hr {
    background-color: var(--color-redish);
    height: 4px;
    width: 328px;
    border-style: none;
}

.first_box_B img {
    scale: 50%;
    position:absolute;
    z-index:2;

    left: 500px;
}

.first_box_B::after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 41px;
    background-color: var(--color-redish);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    position:absolute;
    translate:  480px 70px;
    z-index: 1;
}

.second_box_A img {
    scale: 50%;
    position:relative;
    top: -120px;
    right: 110px;
    z-index:2;
}

.second_box_A::after {
    content: "";
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background-color: var(--primary-color);
    position:absolute;
    translate: 100px -630px;
    z-index: 1;
}

.second_box_A {
   width: 60%;
}

.second_box_B {

    margin-right: 36px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;




    padding-top:12px;
    padding-bottom: 13px;
}

.second_box_B hr {
    background-color: var(--primary-color);
    height: 4px;
    width: 328px;
    border-style: none;
}




.third_section_third_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-light-grey);
}




.third_box_A {
    padding-left: 35px;
    padding-top:69.33px;
    margin-right:60px;

    width:623px;

    background-color: var(--color-white);
}

.third_box_A h2 {
   width: 348px;
}

.third_box_A p{
 width: 553px;
}

.third_box_A hr {
    background-color: var(--color-green);
    height: 4px;
    width: 328px;
    border-style: none;
}


.third_box_B {
    display: flex;
    justify-content: center;
    align-items: center ;

    width: 440px;
    background-color: var(--color-green);
}

.third_box_B img {
    scale: 50%;
    position: relative;
    top:40px;
}

